@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --card-bg: #ffffff;
  --card-border: #f1f5f9;
  --text-main: #1e293b;
  --text-muted: #64748b;
}

/* Tự động kích hoạt biến Dark Mode khi trình duyệt/hệ thống bật Dark */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
    --card-bg: #1e293b;
    --card-border: #334155;
    --text-main: #f1f5f9;
    --text-muted: #94a3b8;
  }
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

@layer base {
  body {
    background-color: var(--background); /* Nền toàn trang ăn theo biến */
    color: var(--foreground);
    @apply antialiased transition-colors duration-300;
  }
}
